 /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}
/* Makes the team logos circular*/
.teamLogo{
    border-radius: 50%;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* This places the text about the website in the middle */
.about-section{
    text-align: center;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
} 
/* makes the tag for the sections that are required red*/
 .requiredinfo{
    color:red;
}
/* This was used to separate the sections on the Shop Page, puts a white border around them, and puts them side by side */
.infocustomer {
    width: 50;
    float: left;
    padding: 20px;
    border: 2px solid white;
}
/* This was used to separate the sections on the Shop Page, puts a white border around them, and puts them side by side */
.infoteam{
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid white;
}
/* This places the footer on the page, and puts a gray on the top of the div */
.footerdiv{
    border-top: 2px solid gray;
    clear: both;
    position: relative;
    height: 200px;
align-content: center;
opacity: 50%;
}

/* This place the red boarder and changes size of the ad which we are selling for double the price */
.specialAd{
     height:100vh;
    border:5px solid red;
}

.bodybackground{
    background-color: black;
    color: white;
}
        /* This makes the image see through if the command is set to print */
 .printimg
 {
    opacity: 0.3;
    border: 2px solid red;
    text-align: center;
}

/* The classes of all the teams, with the team colors */
.Atlanta{
color: #a71930;
background-color: black;

}

.Arizona{
    background-color: #97233F;
    color: black;
}
.Baltimore{
    background-color: #241773;
        color: black;
}
.Bufallo{
        color: #00338D;
        background-color: #C60C30;
}
.Carolina{
        color: #0085CA;
        background-color:#101820;
}
.Chicago{
            color:#0B162A;
        background-color:#c83803;
}
.Cincinnati{
                color: #fb4f14;
        background-color: #000000;
}
.Cleveland{
                color:#311D00;
        background-color:#ff3c00;
}
.Dallas{
                background-color: #003594;
        color: #041E42;
}
.Denver{
                color:#FB4F14;
        background-color:#002244;
}
.Detroit{
                color:#0076b6;
        background-color:#B0B7BC;
}
.GreenBay{
                color:#203731;
        background-color: #FFB612;
}
.Houston{
                color:#03202f;
        background-color:#A71930;
}
.Indianapolis{
                background-color:#002C5F;
        color:#A2AAAD;
}
.Jacksonville{
                color:#9F792C;
        background-color:#006778;
}
.KansasCity{
                color:#FFB81C;
        background-color:#E31837;
}
.LAChargers{
                color:#FFC20E;
        background-color:#0080C6;
}
.LARams{
                color:#ffd100;
        background-color:#003594;
}
.LasVegas{
               color:#A5ACAF;
        background-color: #000000;
}
.Miami{
                color:#FC4C02;
        background-color:#008E97;
}
.Minnesota{
                color:#FFC62F;
        background-color:#4F2683;
}
.NewEngland{
    color: #C60C30;
    background-color: #002244;
}
.NewOrleans{
                color:#101820;
        background-color:#D3BC8D;
}
.NewYorkGiants{
                color:#a71930;
        background-color:#0B2265;
}
.NewYorkJets{
                color:#000000;
        background-color:#125740;
}
.Philadelphia{
                color:#A5ACAF;
        background-color: #004C54;
}
.Pittsburgh{
                color:#101820; 
        background-color:#FFB612;
}
.SanFrancisco{
                color:#B3995D;
        background-color:#AA0000;
}
.Seattle{
                color:#69BE28;
        background-color:#002244;
}
.TampaBay{
                color:#FF7900;
        background-color:#D50A0A;
}
.Tennessee{
                color:#C8102E;
        background-color:#4B92DB;
}
.Washington{
                background-color:#773141;
        color:#FFB612;
}
/* this is used to change the background and font color if the command is set to print */
.print {
  background-color: white;
  color:black;
}
/* used to change the color of the subtotal in the table depending on the amount */
.yellow 
{
    color: #ff9966;
}

.red 
{
    color: red;
}
.green{
    color:green;
}

